# Dependencies
node_modules/

# Astro build artifacts
.astro/
dist/
src/content/docs/generated/
src/generated/site-data.json

# Logs
npm-debug.log*

# # Environment files
# .env
# .env.*

# Editor and OS files
.DS_Store
.idea/
*.sublime-project
*.sublime-workspace
*~
*.swp
*.swo
